<div class="collection-card" data-item-id="{{ item.id }}">
    <div class="card-image">
        <img src="{{ item.image_url }}" alt="{{ item.name }}" loading="lazy">
        {% if item.is_from_order %}
        <span class="card-badge badge-order">Z zamówienia</span>
        {% endif %}
    </div>
    <div class="card-body">
        <h3 class="card-name" title="{{ item.name }}">{{ item.name }}</h3>
        {% if item.market_price %}
        <span class="card-price">{{ "%.2f"|format(item.market_price) }} zł</span>
        {% endif %}
        <span class="card-date">{{ item.created_at.strftime('%d.%m.%Y') }}</span>
    </div>
    <div class="card-actions">
        <button class="btn-icon btn-edit" onclick="openEditModal({{ item.id }})" title="Edytuj">
            <svg width="14" height="14" viewBox="0 0 16 16" fill="currentColor">
                <path d="M12.146.146a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-10 10a.5.5 0 01-.168.11l-5 2a.5.5 0 01-.65-.65l2-5a.5.5 0 01.11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 01.5.5v.5h.5a.5.5 0 01.5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 015 12.5V12h-.5a.5.5 0 01-.5-.5V11h-.5a.5.5 0 01-.468-.325z"/>
            </svg>
        </button>
        <button class="btn-icon btn-delete" onclick="openDeleteModal({{ item.id }}, '{{ item.name|e }}')" title="Usuń">
            <svg width="14" height="14" viewBox="0 0 16 16" fill="currentColor">
                <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H5.5l1-1h3l1 1H14a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>
    </div>
</div>
